[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoolFilter"]
	path = BoolFilter
	url = https://github.com/levimcclenny/boolfilter
